:root {
    --primaryColor: #51d5f0;
    --secondaryColor: #ffc400;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.2s linear;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
  }
  h1{
    padding-top: 60px;
    margin-left: 50px;
    font-size: 36px;
  }
a{
  text-decoration: none;
  color: var(--mainWhite);
}
/*========Nav Bar=======*/
.nav-container{
    position: sticky;
    top:0;
    z-index: 1;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--mainBlack);
    align-items: center;
    color: var(--mainWhite);
    font-size: 1.5em;
}
.logo{
  font-size: 30px;
}

.nav-container i:hover,
.nav-container i:active{
  color: var(--secondaryColor);
}

.fa-bars{
  cursor: pointer;
  margin-left:15px;
}

#main-menu{
  position:fixed;
  top:60px;
  left: 0px;
  width: 150px;
  height: 250px;
  background-color: var(--mainBlack);
  color: var(--mainWhite);
  display: none;
  text-align: right;
}
#main-menu-main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-item{
  font-size: 20px;
  margin-top: 25px;
}

.menu-item:hover,
.menu-item:active{
  color: var(--secondaryColor);
  cursor: pointer;
}

#btn-menu-close{
  margin-right: 10px;
}
#btn-menu-close:hover,
#btn-menu-close:active{
  cursor: pointer;
  color: var(--secondaryColor);
}

.fa-cart-shopping{
    cursor: pointer;
    margin-right: 15px;
}

.cart-total{
  position: absolute;
  right: 5px;
  top: 10px;
  background-color: var(--primaryColor);
  padding:  1px 3px;
  border-radius: 5px;
  display: none;
  font-size: 16px;
  color: var(--mainBlack);
}
#cart-empty{
  margin-top: 100px;
  text-align: center;
}

/*========End of Nav Bar=======*/
/*========Hero=======*/
#home{
  height: 60px;
  top:0;
  position: absolute;
}

.hero{
  width:100%;
}
.hero h1{
  padding-top: 0px;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
#banner1 {
  color: var(--mainBlack);
  font-size: 36px;
  text-shadow: 0px 0px 3px black;
  color: white;
  padding: 25px 50px;
  position: absolute;
  bottom: 15%;
  width: 100%;
  text-align: left;
}
#banner2 {
  color: black;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
  background-color:var(--mainGrey);
}
#banner3 {
  color: white;
  font-size: 36px;
  padding: 8px 12px;
  position: absolute;
  background-color:var(--mainBlack);
  bottom: 50px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*========End of Hero=======*/
/*========Main=======*/
.main-section{
  width: 100%;
}
#products{
  margin-top: 50px;
}
.products-container{
    width: 90vw;
    margin: 50px auto 0px;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}
.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--mainGrey);
  border: solid 1px var(--mainGrey);
  box-shadow: 2px 2px 5px #555;
}

.product-image{
    width:100%;

}

.product-image:hover,
.product-image:active{
  filter: brightness(0.8);
  cursor: pointer;
}

.product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  
  .product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--mainBlack);
  }
  .bag-btn{
    margin: 0.7rem auto 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    background-color: #51d5f0;
    width: 150px;
    border-radius: 5px;
    padding: 5px 10px;
  }

  .bag-btn:hover,
  .bag-btn:active{
    cursor: pointer;
    background-color: var(--secondaryColor);
    color:var(--mainWhite);
    transition: var(--mainTransition);
  }

  .btn-disable,
  .btn-disable:hover,
  .btn-disable:active{
    cursor: default;
    background-color: var(--mainBlack);
    color:var(--mainWhite);
  }

  .fa-shopping-cart {
    margin-right: 0.5rem;
  }
.category-container{
  width: 50%;
  display: flex;
  height: 40px;
  margin: 15px auto;
  justify-content:center;
  align-items: center;
  background: var(--mainGrey);
  width: 80%;
}


.category-container p{
  font-size: 18px;
}

.category-container select{
  font-size: 16px;
  width: 150px;
  border:var(--mainBlack) 2px solid;
  border-radius: 5px;
  margin-left: 20px;
}
/*========End of Main=======*/
 
  .cart-container{
    width: 100%;
    height: calc(100% - 60px);
    background-color: rgba(0,0,0,0.5);
    top: 60px;
    right: 0;
    position: fixed;
    z-index: 2;
    display: none;  
  }

  
  .cart-main{
    width: 300px;
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 3;
    height: calc(100% - 60px);
    background-color: var(--mainGrey);
    overflow: auto;
  }
  .show{
    display: block;
  }

  #btn-close{
    cursor: pointer;
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;
    color: var(--mainBlack);
  }
  #btn-close:hover,
  #btn-close:active{
    color: var(--secondaryColor);
  }

  .cart-item img{
    width:75px;
    height: 75px;
    display: flex;;
  }

  .cart-item{
    display: flex;
    margin: 10px;
    justify-content: start;
    align-items: center;
  }


  .cart-item-value{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
    height: 75px;
    justify-content: space-between;
    align-items: flex-start;
  }

.cart-item-qty{
  display: flex;
}

.cart-item-qty p,
.cart-item-qty i{
  margin-right: 30px;
}

.cart-item-qty p:hover,
.cart-item-qty i:hover,
.cart-item-qty p:active,
.cart-item-qty i:active{
  cursor: pointer;
  color: var(--secondaryColor);
}

.btn-payment{
  text-align: center;
  padding:5px;
  background-color: var(--primaryColor);
  color: var(--mainBlack);
  border-radius: 25px;
  width: 200px;
  margin:20px auto;
  display: none;
}
.btn-payment:hover,
.btn-payment:active{
  background-color: var(--secondaryColor);
  color: var(--mainWhite);
  cursor: pointer;
  transition: var(--mainTransition);
}

#cartTotalValue{
  text-align: center;
  margin-top: 20px;
}

/*========End of Cart=======*/ 
/*=====About us======*/
#about{
  margin-top: 50px;
}

#allContacts{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--mainBlack);
  width: 100%;
  color: var(--mainWhite);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 10px;
}

#hotline{
  max-width: 400px;
  margin-right: 100px;
  margin-bottom: 50px;
}
#hotline p{
  margin-top: 15px;
}

#hotline a{
  font-weight: bold;
}

#hotline a:hover,
#hotline a:active{
  color: var(--secondaryColor);
}

.businessHour{
  margin-left: 20px;
  font-weight: 400;
}

/*
Form
*/

form p{
  font-size: 24px;
  margin-bottom: 10px;
}
label{
  font-size: 20px;
  margin-bottom: 5px;
}

#input-container{
  display: flex;
}

.input{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-right: 15px;
}
#input-message{
  width:500px;
  height: 100px;
  text-align: start;
  font-size: 16px;
  border-radius: 5px;
}
#input-name{
  font-size: 16px;
  height: 25px;
  border-radius: 5px;
}

#input-name:focus,
#input-email:focus,
#input-message:focus{
  outline-color: var(--primaryColor);
  outline-style:double;
  outline-width: 2px;
}


#input-email{
  font-size: 16px;
  height: 25px;
  border-radius: 5px;
}

#btnSubmit{
  background-color: var(--primaryColor);
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 10px;
  border: var(--mainBlack) 3px solid;
  color: var(--mainBlack);
}
#btnSubmit:hover,
#btnSubmit:hover{
  cursor: pointer;
  border: var(--primaryColor) 3px solid;
  color: var(--mainGrey);
  background-color: var(--secondaryColor);
}


/*========End of About us=======*/ 

/*=====Location======*/

#shop-map{
  width: 500px;
}
#travel{
  margin-top: 50px;
}

.map-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.address-container{
  display: flex;
  flex-direction: column;
  background-color: var(--mainBlack);
  color: var(--mainWhite);
  padding: 25px;
  border-radius: 25px;
  margin-right: 50px;
  line-height: 25px;
  max-width: 500px;
}
.address-container p{
  margin-left: 25px;
}
/*========End of Location=======*/ 
/*======Payment======*/
.payment-container{
  z-index:5;
  width: 100%;
  height:100%;
  position: fixed;
  top:0px;
  background-color: rgba(0,0,0,0.5);
  display: none;
}
.payment-main{
  width: 600px;
  margin: 100px auto;
  background-color: var(--mainWhite);
  padding: 25px 10px;
  border-radius: 10px;
}

#btn-payment-close{
  cursor: pointer;
  text-align: right;
}

#btn-payment-close:hover,
#btn-payment-close:active{
  color: var(--secondaryColor);
}

#payment-form{
background-color: var(--mainGrey);
}
#payment-title{
  margin-bottom: 50px;
}
label{
  font-size: 16px;
  margin-right: 10px;
}
#payer-info{
  display: flex;
}

#payment-email-container
{
  margin-left: 20px;
}
#payment-name-container{
  margin-bottom: 20px;
}
#payment-card-container{
  margin-bottom: 20px;
}
#payment-month,
#payment-year,
#payment-cvv{
  width: 40px;
}
#payment-year{
  margin-right: 50px;
}
#payment-year-label{
margin-right: 0;
}

input{
  font-size: 16px;
}

#payment-submit{
  font-size:20px;
  background-color: var(--primaryColor);
  padding: 5px 50px;
  border-radius: 10px;
  border: none;
}
#btn-submit-container{
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}



/*========End of Payment=======*/

/*======product detail=======*/
#product-detail{
  width: 100%;
  height: calc(100vh - 60px);
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top:60px;
  z-index: 4;
  display: none;
}
#product-detail-main{
  width: 600px;
  margin: 100px auto;
  background-color: var(--mainWhite);
  padding: 10px 10px;
  border-radius: 10px;
}
#product-detail-container{
  display: flex;
}
#product-detail-container img{
  width: 300px;
  margin-right: 25px;
}
#product-detail-container h2{
margin-bottom: 10px;
}
#product-detail-container h3{
  margin-bottom: 20px;
  }

#btn-product-close{
  color: var(--mainBlack);
  font-size: 16px;
  text-align: right;
}
#btn-product-close:hover,
#btn-product-close:active{
  color: var(--secondaryColor);
  cursor: pointer;
}

/*======end of product detail=======*/


@media screen and (max-width:1000px) {
  .map-container{
    flex-direction: column;
    align-items: center;
  }
  .address-container{
    margin-right: 0px;
    margin-bottom: 50px;
  }
  .payment-main{
    width: 400px;
  }
  #payer-info{
    flex-direction: column;
  }
  .slideshow-container{
    width:600px;
  }
  #banner1,
  #banner2,
  #banner3{
    font-size: 24px;
  }
}

@media screen and (max-width:600px){
  #input-message{
    width: 250px;
  }
  #input-container{
    flex-direction: column;
  }
  #shop-map{
    width: 80%;
  }
  .products-container{
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
#payment-email-container{
  margin-left: 0px;
  margin-bottom: 20px;
}
.slideshow-container{
  width:400px;
}
#banner1,
  #banner2,
  #banner3{
    font-size: 16px;
  }
  #product-detail-container{
    flex-direction: column;
  }
  #product-detail-container img{
    width: 250px;
  }
  #product-detail-main{
    width: 300px;
    margin-top: 25px;
  }
}